
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1 >My C# Project</h1>
        <p class="lead">This is my Wargaming Army Tracker Project.</p>
    </div>
</div>


    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
        <h2>About the tracker</h2>
        <p>
            The Army Tracker is a project using Asp.Net with Entity Framework to build a simple
            Wargaming Army Tracker. The project uses Entity Framework to build a sql database 
            that contains the list of Rulesets, Factions, Squad Counts, and Point Cost for each
            army entered.
        </p>

        <p>
            In the future I would like to expand this project to encompass a multiple sql table 
            design so that I can also store the vast amount of army variations that you can build
            with each ruleset.  
        </p>
            </div>
        <div class="col-xs-1"></div>

    </div>
